.header {
    background: $first;
    margin: 12px 0;
    padding: 12px;
    border-radius: 12px;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    color: $second;
    font-size: 28px;
    margin: 0;
}
.icon-phone {
    color: $second;
}
header [class*="icon-"]::before {
    position: relative;
    top: 2px;
    right: 6px;
}