@media (min-width: 768px) {
    .form {
        width: 70%;
    }
}
@media (min-width: 992px) {
    .nav__open {
        display: none;
    }
    .menu {
        position: static;
        background: none;
        flex-direction: row;
        justify-content: flex-start;
        width: auto;
        height: auto;
    }
    .banner {
        height: 550px;
    }
    .services {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 12px;
    }
    .form {
        width: 400px;
    }
}
@media (min-width: 1200px) {
    .banner {
        height: 650px;
    }
}
@media (min-width: 1400px) {
    .banner {
        height: 800px;
    }
    .form {
        width: 500px;
    }
}
@media (min-width: 1600px) {
    .banner {
        height: 900px;
    }
}
@media (min-width: 1600px) {
    .banner {
        height: 1000px;
    }
}
@media (min-width: 1800px) {
    .banner {
        height: 1100px;
    }
}
@media (min-width: 2000px) {
    .banner {
        height: 1100px;
    }
}
@media (min-width: 2200px) {
    .banner {
        height: 1200px;
    }
}
@media (min-width: 2400px) {
    .banner {
        height: 1300px;
    }
}